@font-face {
    font-family: simplerregular;
    src: url('simpler-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'simplerbold';
    src: url('simpler-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: simplerregular, sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#map {
    width: 70%;
    height: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-right: 20px;
    float: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#side-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8fbff;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.timeline-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    margin-top: 10px;
}

.timeline {
    flex-grow: 1;
    position: relative;
    height: 6px;
    background: #bbdefb;
    background-size: 12px 12px;
    /* Dotted effect */
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.progress {
    height: 100%;
    background: rgba(187, 222, 251, 50%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: width 0.5s ease-out;
}

.current-time {
    position: absolute;
    top: -40px;
    background-color: rgba(207, 227, 255, 0.9);
    color: #1976d2;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    /* left will be set in JS as px */
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 10;
    font-family: simplerregular, sans-serif;
    transition: width 0.3s ease-out;
    pointer-events: none;
}

.current-time::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    transform: translate(50%, 50%) rotate(45deg);
    background-color: rgba(207, 227, 255, 0.9);
    bottom: 0;
    right: 50%;
}

.step {
    height: 6px;
    width: 3px;
    background: #1976d2;
    position: absolute;
    top: 0;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.step:hover {
    background: white;
}

.step.current {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 50%;
    right: 50%;
    transform: translate(0, -50%);
    transition: background-color 0.6s ease;
}

.step.current:hover {
    box-shadow: rgba(25, 118, 210, 0.16) 0px 0px 0px 8px;
}

/* New handle style */
.handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #1976d2;
    border-radius: 50%;
    top: -4px;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.handle:hover {
    transform: translateX(-50%) scale(1.1);
}

.handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #1976d2;
    border-radius: 50%;
    top: -4px;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.handle:hover {
    transform: translateX(-50%) scale(1.1);
}

.step:hover {
    background: rgb(25, 118, 210);
}

.date-time-container {
    direction: rtl;
    margin: 0 10px;
}

.time {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.date {
    color: #393939;
    font-size: 12px;
    font-weight: 400;
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.controls button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.controls button:nth-child(2) {
    background: transparent;
}

.controls button:nth-child(2):hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(33, 150, 243, 0.4);
    background: #CFE3FF;
}

.controls button:nth-child(2):active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(33, 150, 243, 0.3);
}

.controls button:first-child,
.controls button:last-child {
    background: transparent;
}

.controls button:first-child:hover,
.controls button:last-child:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background: #bbdefb;
}

.controls button:first-child:active,
.controls button:last-child:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-container {
    direction: rtl;
    padding-top: 0;
}

.data-container .title {
    padding-right: 14px;
}

.data-container .title .text {
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
}

.data-container .title,
.data-container .card-data {
    display: flex;
    align-items: center;
}

.data-container .title {
    width: 100%
}

.card .title .icon {
    padding-right: 4px;
}

.data-container .card-data .value-type {
    font-family: simpler, sans-serif;
    font-size: 8px;
    font-weight: 600;
    color: #49494A;
    transform: translate(-14px, -6px);
}

.data-container .card-data .svg-bar {
    padding-right: 4px;
}

.data-container .card-data .svg-bar svg {
    width: 90%;
    transform: translate(-18px);
}

.windMenu .mainContainer {
    display: flex;
    height: 20px;
    color: #828282;
    fill: #828282;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.windMenu .mainContainer .container {
    display: flex;
    align-items: center
}

.windMenu .mainContainer .container .windMenuText {
    font-family: simpler, sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.wind-container {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.wind-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-data {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 500px;
    overflow: hidden;
}

.card-data.close {
    opacity: 0;
    max-height: 0;
}

.card.active {
    border: 1px solid #1C1C1C;
    padding-bottom: 16px;
}

.card.disabled {
    border: 1px solid #ECECEC;
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

#timeline-card {
    padding: 18px;
}

#wind.active {
    padding-bottom: 16px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #map {
        width: 100%;
        height: 50vh;
        float: none;
        margin: 0 0 20px 0;
        border-radius: 0;
    }

    #side-container {
        margin: 0 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .timeline {
        margin: 0 5px;
    }

    .controls {
        justify-content: center;
    }

    .date-time-container {
        margin: 0 5px;
    }

    .time {
        font-size: 12px;
    }

    .date {
        font-size: 10px;
    }

    .controls button {
        background-color: #f8fbff;
        width: 62px;
        height: 62px;
        font-size: 13px;
    }

    .data-container .title,
    .data-container .card-data {
        padding-right: 6px;
    }
}
